#startFightBtn {
  width: 250px;
  margin-top: 3px;
}

#fightWrap {
  display: flex;
  justify-content: space-between;
}

.p1div {
  background-color: white;
}
.p2div {
  background-color: white;
}
.newclass {
  color: brown;
}
.karate {
  width: 10rem;
}
.boxer {
  width: 10rem;
}
.kickboxer {
  width: 10rem;
}
.grappler {
  width: 10rem;
}
